<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "masterSyscoSuite">
    <test name = "SyscoTest">
        <classes>
            <class name = "com.util.framework.online.TestSyscoExecutor" />
        </classes>
    </test>
</suite>